.container{
    width: 100%;
    margin: 0 auto;
    min-height: 100dvh;
    align-content: center;
}

.contpoke{
    width: 90%;
    min-height: 100%;
    margin: 0 auto;
   padding: 1rem;
   border: 3px solid;
   position: relative;
   border-radius: 12px;
 
}

.boxinput{
    position: absolute;
    right: 2%;
    top: 5%;
    display: flex;
    gap: .8rem;
    align-items: center;
}

.boxinput input{
   width: 100%;
   max-width: 300px;
   margin: 0 auto;
   padding: 7px 28px;
   border: 1px solid var(--primary-cor);
   background-color: var(--secundary-cor);
   color: var(--primary-cor);
   text-align: start; 
}

.boxinput input::placeholder{
    color: var(--primary-cor);
    letter-spacing: 1px;
    text-align: start;
    text-transform: capitalize;

 }

 .boxinput .searchpoke{
    color: var(--secundary-cor);
    font-size: 2.2rem;
    cursor: pointer;
    transition: .3s ease-in-out;
 }

 .boxinput .searchpoke:hover{
   transform: scale(1.2);
 }

 .boxpokemon{
    width: 100%;
    min-height: 100%;
    margin: 0 auto;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 5%;
 }

 .boxpokemon .pokemondetails{
    width: 100%;
    max-width: 220px;
    min-height: 100%;
    margin: 0 auto;
    padding: 1rem;
    border: 5px solid;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;

 }

 .boxpokemon .pokemondetails  .boximgpoke{
    width: 100%;
    max-width: 100px;
    min-height: 20px;
    margin: 0 auto;
  
 }

 .boxpokemon .pokemondetails  .boximgpoke img{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    object-fit: contain;
    object-position: center center;
    user-select: none;
    
 }

 .boxpokemon .pokemondetails  .boximgpoke img:hover{
   transform: scale(1.3);
    
 }

 .boxpokemon .pokemondetails .details{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

 }

 
 .boxpokemon .pokemondetails .details .namepoke{
   font-size: .8rem;
   text-transform: capitalize;
   letter-spacing: 1px;
   font-weight: bold;
   text-align: center;
   max-width: 100%;
   margin: 0 auto;

 }

 .boxpokemon .pokemondetails .details .heightpoke,  .boxpokemon .pokemondetails .details .elementpoke{
    font-size: .8rem;
    text-transform: capitalize;
    letter-spacing: 1px;
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    margin-top: .5rem;
 
  }

  .arrows{
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    
  }





